/* reddish rgb 204, 0, 51 */
/* blueish rgb 0, 75, 131*/
.c1 {
  /* reddish */
  color: #cc0033; }

html, html body {
  margin: 0;
  padding: 0; }
  html body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(8px + 1vw);
    line-height: 1.2; }
    html body > header, html body body > header {
      height: 3vw;
      padding: 1vw 0;
      min-height: 25px;
      min-width: 320px;
      width: 60%;
      display: flex;
      flex-direction: row;
      color: #004b83; }
      html body > header a, html body body > header a, html body > header a img, html body body > header a img {
        height: 100%;
        flex: 0; }
      html body > header > p, html body body > header > p {
        font-size: calc(8px + 1vw);
        flex: 1;
        text-align: right;
        margin: 0;
        font-weight: bold; }
    html body > main, html body body > main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      html body > main #promo-splash, html body body > main #promo-splash {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-image: url("../img/house.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0;
        padding: 4vw 0;
        border-top: 1.5vw solid #cc0033;
        border-bottom: 2vw solid #004b83; }
        html body > main #promo-splash .opaque-box, html body body > main #promo-splash .opaque-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
          width: 50%;
          min-width: 320px; }
        html body > main #promo-splash header, html body body > main #promo-splash header {
          color: #004b83;
          padding: 2vw 0;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.8); }
          html body > main #promo-splash header h1, html body body > main #promo-splash header h1 {
            font-size: calc(24px + 1vw);
            margin: 0; }
          html body > main #promo-splash header h2, html body body > main #promo-splash header h2 {
            font-size: calc(12px + 1vw);
            margin: 0; }
          html body > main #promo-splash header hr, html body body > main #promo-splash header hr {
            border: 1px solid #cc0033;
            width: 55%; }
          html body > main #promo-splash header h3, html body body > main #promo-splash header h3 {
            font-size: calc(10px + 1vw);
            margin: 0; }
        html body > main #promo-splash section, html body body > main #promo-splash section {
          width: 100%;
          background-color: rgba(255, 255, 255, 0.8); }
        html body > main #promo-splash section.highlight, html body body > main #promo-splash section.highlight {
          font-weight: bold;
          color: white;
          background-color: rgba(204, 0, 51, 0.7);
          /* reddish */
          padding: 0.5vw 0; }
        html body > main #promo-splash em, html body body > main #promo-splash em {
          font-size: calc(36px + 1vw);
          font-style: normal;
          font-weight: bold; }
        html body > main #promo-splash small, html body body > main #promo-splash small {
          font-size: xx-small; }
        html body > main #promo-splash form, html body body > main #promo-splash form {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 1vw;
          padding-bottom: 3vw;
          font-size: 12pt; }
          html body > main #promo-splash form *, html body body > main #promo-splash form * {
            margin: 0.2vw; }
          html body > main #promo-splash form span, html body body > main #promo-splash form span {
            width: 60%;
            min-width: 320px;
            text-align: right;
            position: relative;
            right: 2vw; }
          html body > main #promo-splash form input[type="text"], html body body > main #promo-splash form input[type="text"],
          html body > main #promo-splash form input[type="email"], html body body > main #promo-splash form input[type="email"],
          html body > main #promo-splash form input[type="tel"], html body body > main #promo-splash form input[type="tel"] {
            font-size: 12pt;
            padding: 0.5vw;
            width: 75%;
            border: 1px solid LightGray; }
          html body > main #promo-splash form label, html body body > main #promo-splash form label {
            font-size: 12pt;
            align-self: center;
            flex-basis: 100px; }
          html body > main #promo-splash form input[type="submit"], html body body > main #promo-splash form input[type="submit"] {
            background-color: #cc0033;
            color: white;
            font-weight: bold;
            font-size: larger;
            padding: 0.5vw 2vw;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-top: 1vw; }
        html body > main #promo-splash footer, html body body > main #promo-splash footer {
          background-color: rgba(0, 75, 131, 0.7);
          /* blueish */
          width: 100%;
          font-size: smaller; }
          html body > main #promo-splash footer ul, html body body > main #promo-splash footer ul {
            padding: 0; }
          html body > main #promo-splash footer li, html body body > main #promo-splash footer li {
            color: white;
            display: inline;
            padding: 0 4px; }
          html body > main #promo-splash footer li:before, html body body > main #promo-splash footer li:before {
            content: "\2713"; }
      html body > main #service-details, html body body > main #service-details {
        padding: 2vw;
        width: 60vw;
        min-width: 320px; }
        html body > main #service-details h1, html body body > main #service-details h1 {
          color: #cc0033; }
        html body > main #service-details h3, html body body > main #service-details h3 {
          color: #004b83; }
        html body > main #service-details ul, html body body > main #service-details ul {
          color: #cc0033;
          list-style-image: url("../img/bullet.png"); }
    html body > footer, html body body > footer {
      background-color: #cc0033;
      text-align: center;
      color: white;
      padding: 1vw 0;
      width: 100%;
      border-bottom: 1vw solid #004b83; }
      html body > footer em, html body body > footer em {
        font-size: larger;
        font-style: normal;
        font-weight: bold; }
